<a href="https://colab.research.google.com/github/jessicambs/python/blob/master/enem_exercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Importar bibliotecas necessárias
import pandas as pd
import numpy as np
import zipfile
import requests
from io import BytesIO
import os

In [4]:
# Criar um diretório para armazenar o conteúdo do ENADE
os.makedirs("./enem2019", exist_ok=True)

In [5]:
# Definir a url
url = "http://download.inep.gov.br/microdados/microdados_enem_2019.zip"

# Faz o download do conteúdo
filebytes = BytesIO(
    requests.get(url, stream = True).content
)

#Extrair o conteúdo do zipfile
myzip = zipfile.ZipFile(filebytes)
myzip.extractall("./enem2019")

In [6]:
# Forma do menino no fórum
enem2019 = pd.read_csv(
"/content/enem2019/DADOS/MICRODADOS_ENEM_2019.csv",
sep = ";", decimal=".", encoding='latin1', chunksize=1000
)

In [7]:
dfEnem = pd.concat([chunk[chunk['SG_UF_RESIDENCIA'] == "MG"] for chunk in enem2019])

In [17]:
dfEnem.loc[
dfEnem.SG_UF_RESIDENCIA == 'MG'
].SG_UF_RESIDENCIA.describe()

count     538896
unique         1
top           MG
freq      538896
Name: SG_UF_RESIDENCIA, dtype: object

In [78]:
# 1- Qual é a média da nota em matemática dos alunos que moram em Montes Claros e em Janaúba?


dfEnem.loc[
(dfEnem.SG_UF_RESIDENCIA == 'MG') &
(dfEnem["NO_MUNICIPIO_RESIDENCIA"] == 'Janaúba') & 
(dfEnem["NO_MUNICIPIO_RESIDENCIA"] == 'Montes Claros')



].NU_NOTA_MT.mean()

nan

In [27]:
# 2 - Qual é a média da nota em matemática dos alunos do sexo Masculino que moram em Unaí?
dfEnem.loc[
(dfEnem.SG_UF_RESIDENCIA == 'MG') &
(dfEnem.NO_MUNICIPIO_RESIDENCIA == 'Unaí') &
( dfEnem.TP_SEXO == "M")


].NU_NOTA_MT.mean()

526.4387518142237

In [37]:
dfEnem.loc[
(dfEnem.SG_UF_RESIDENCIA == 'MG') &
(dfEnem.TP_ESTADO_CIVIL == 'Solteiro') &
( dfEnem.TP_SEXO == "M")


].NU_NOTA_MT.mean()

nan

In [80]:
#3-Qual é a nota média em matemática dos alunos solteiros que possuem cegueira?
dfEnem.loc[
(dfEnem.SG_UF_RESIDENCIA == 'MG') &
(dfEnem.TP_ESTADO_CIVIL == 1) &
(dfEnem.IN_CEGUEIRA == 1)

].NU_NOTA_MT.mean()

475.3372549019607

In [79]:
# 4 - Qual é a nota média em matemática dos alunos Pretos e Pardos que moram em Governador Valadares?
dfEnem.loc[
(dfEnem.SG_UF_RESIDENCIA == 'MG') &
(dfEnem.NO_MUNICIPIO_RESIDENCIA == 'Governador Valadares') &
(dfEnem.TP_COR_RACA == 2)

].NU_NOTA_MT.mean()

512.2120283018866

In [50]:
# 5 - Qual é a nota média em matemática dos alunos que são surdos e possuem cegueira?
dfEnem.loc[
(dfEnem.SG_UF_RESIDENCIA == 'MG') &
(dfEnem.IN_SURDO_CEGUEIRA == 1) 


].NU_NOTA_MT.mean()

473.84999999999997

In [53]:
# 6 - Qual é a nota média em matemática dos alunos que são brancos ou amarelos e que REALIZARAM a prova em Belo Horizonte?
dfEnem.loc[
(dfEnem.SG_UF_RESIDENCIA == 'MG') &
(dfEnem.NO_MUNICIPIO_PROVA == "Belo Horizonte") &
((dfEnem.TP_COR_RACA == 1 )| (dfEnem.TP_COR_RACA == 4)) 

].NU_NOTA_MT.mean()

615.4493533068214

In [57]:
# 7 - Qual é a nota média em matemática dos alunos indígenas e pardos que moram em Sabará e Teófilo Otoni e são casados?

dfEnem.loc[
(dfEnem.SG_UF_RESIDENCIA == 'MG') &
(dfEnem[(dfEnem[])])
dataframe[(dataframe['nome']==primeiro) | (dataframe['nome'] == segundo)

(dfEnem.NO_MUNICIPIO_RESIDENCIA == 
 "Sabará") & (dfEnem.NO_MUNICIPIO_RESIDENCIA == "Teófilo Otoni") 

(dfEnem.TP_COR_RACA == 3 ) &
(dfEnem.TP_COR_RACA == 5) &
(dfEnem.TP_ESTADO_CIVIL == 2) 

].NU_NOTA_MT.mean()

nan

# Exercício

1- Qual é a média da nota em matemática dos alunos que moram em Montes Claros e em Janaúba?

2 - Qual é a média da nota em matemática dos alunos do sexo Masculino que moram em Unaí?

3 - Qual é a nota média em matemática dos alunos solteiros que possuem cegueira?


4 - Qual é a nota média em matemática dos alunos Pretos e Pardos que moram em Governador Valadares?

5 - Qual é a nota média em matemática dos alunos que são surdos e possuem cegueira?

6 - Qual é a nota média em matemática dos alunos que são brancos ou amarelos e que REALIZARAM a prova em Belo Horizonte?

7 - Qual é a nota média em matemática dos alunos indígenas e pardos que moram em Sabará e Teófilo Otoni e são casados?

# Transformação com dos dados do ENEM usando DASK (economizando memória)

In [ ]:
!pip install dask

Requirement already satisfied: dask in /usr/local/lib/python3.6/dist-packages (2.12.0)

In [ ]:
!pip install dask[dataframe]

Requirement already satisfied: dask[dataframe] in /usr/local/lib/python3.6/dist-packages (2.12.0)
Requirement already satisfied: numpy>=1.13.0; extra == "dataframe" in /usr/local/lib/python3.6/dist-packages (from dask[dataframe]) (1.18.5)
Requirement already satisfied: toolz>=0.7.3; extra == "dataframe" in /usr/local/lib/python3.6/dist-packages (from dask[dataframe]) (0.11.1)
Requirement already satisfied: pandas>=0.23.0; extra == "dataframe" in /usr/local/lib/python3.6/dist-packages (from dask[dataframe]) (1.1.4)
Collecting partd>=0.3.10; extra == "dataframe"
  Downloading https://files.pythonhosted.org/packages/44/e1/68dbe731c9c067655bff1eca5b7d40c20ca4b23fd5ec9f3d17e201a6f36b/partd-1.1.0-py3-none-any.whl
Collecting fsspec>=0.6.0; extra == "dataframe"
  Downloading https://files.pythonhosted.org/packages/a5/8b/1df260f860f17cb08698170153ef7db672c497c1840dcc8613ce26a8a005/fsspec-0.8.4-py3-none-any.whl (91kB)
     |████████████████████████████████| 92kB 3.7MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0; extra == "dataframe"->dask[dataframe]) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0; extra == "dataframe"->dask[dataframe]) (2.8.1)
Collecting locket
  Downloading https://files.pythonhosted.org/packages/d0/22/3c0f97614e0be8386542facb3a7dcfc2584f7b83608c02333bced641281c/locket-0.2.0.tar.gz
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23.0; extra == "dataframe"->dask[dataframe]) (1.15.0)
Building wheels for collected packages: locket
  Building wheel for locket (setup.py) ... done
  Created wheel for locket: filename=locket-0.2.0-cp36-none-any.whl size=4040 sha256=e990f8c5ba071ad6175c0e90d614ff8213b7493bd922fe44ce15e7cd421b912e
  Stored in directory: /root/.cache/pip/wheels/26/1e/e8/4fa236ec931b1a0cdd61578e20d4934d7bf188858723b84698
Successfully built locket
Installing collected packages: locket, partd, fsspec
Successfully installed fsspec-0.8.4 locket-0.2.0 partd-1.1.0

In [ ]:
import dask.dataframe as dd

In [ ]:
enem = dd.read_csv('/content/enem2019/DADOS/MICRODADOS_ENEM_2019.csv',
                   sep = ";", decimal = ",", encoding = "latin1")

In [ ]:
enem = enem.loc[
                enem.SG_UF_RESIDENCIA == "MG"
]

# Exercício

# Ingestão de dados no SQL Server

In [ ]:
enem = enem.compute()

In [ ]:
type(enem)

pandas.core.frame.DataFrame

In [ ]:
enem.loc[
        ( enem['CO_MUNICIPIO_NASCIMENTO'] == "Montes Claros")

].NU_NOTA_COMP1.mean

In [ ]:
q1 = enem.loc[enem['CO_MUNICIPIO_NASCIMENTO']  == "Montes Claros" ].NU_NOTA_MT

In [ ]:
enem.loc[
         enem.CO_MUNICIPIO_NASCIMENTO == "Montes Claros",
         "NU_NOTA_COMP1"
].mean()

nan

In [ ]:
enem.head(10)

       NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q023  Q024 Q025
1044   190001005671    2019                  3170206  ...    B     B    B
5234   190001009861    2019                  3111705  ...    A     A    A
16995  190001021622    2019                  3104007  ...    A     A    B
22008  190001026636    2019                  3106200  ...    A     D    B
22114  190001026742    2019                  3162401  ...    A     B    A
41418  190001046046    2019                  3124302  ...    A     B    B
41845  190001046473    2019                  3169307  ...    A     B    B
48454  190001053082    2019                  3106705  ...    A     B    B
51498  190001056126    2019                  3143302  ...    A     C    B
54094  190001058722    2019                  3169307  ...    A     C    B

[10 rows x 136 columns]

In [ ]:
enem.loc[
         (enem['CO_MUNICIPIO_NASCIMENTO'] == "" )
]

count     393872
unique      5713
top        456.3
freq         171
Name: NU_NOTA_MT, dtype: object

In [ ]:
!pip install wheel
!pip install pyodbc

Requirement already satisfied: wheel in /usr/local/lib/python3.6/dist-packages (0.35.1)
Collecting pyodbc
  Using cached https://files.pythonhosted.org/packages/81/0d/bb08bb16c97765244791c73e49de9fd4c24bb3ef00313aed82e5640dee5d/pyodbc-4.0.30.tar.gz
Building wheels for collected packages: pyodbc
  Building wheel for pyodbc (setup.py) ... error
  ERROR: Failed building wheel for pyodbc
  Running setup.py clean for pyodbc
Failed to build pyodbc
Installing collected packages: pyodbc
    Running setup.py install for pyodbc ... error
ERROR: Command errored out with exit status 1: /usr/bin/python3 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-m_ifulme/pyodbc/setup.py'"'"'; __file__='"'"'/tmp/pip-install-m_ifulme/pyodbc/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record /tmp/pip-record-rizipxn2/install-record.txt --single-version-externally-managed --compile Check the logs for full command output.

In [ ]:
# Ingestão dos dados


import sqlalchemy
engine = sqlalchemy.create_engine(
    "mssql+pyodbc://SA:Ney198789@127.0.0.1/enem?driver=ODBC+Driver+17+for+SQL+Server"
)

ModuleNotFoundError: ignored

In [ ]:
enem.to_sql("desempenho",  index=False, chunksize=1000 )

TypeError: ignored